<?xml version="1.0" ?>
<robot name="easo1.0" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Create links -->
    <link name="world"/>
    <link name="base_link"/>

    <!-- include xarm 7 -->
    <xacro:include filename="$(find tesseract_support)/urdf/xarm7_macro.xacro"/>
    <xacro:xarm7 prefix="arm_"/>

    <!-- Include workcell (creates joint from world to robot_base)-->
    <xacro:include filename="$(find tesseract_support)/urdf/easo1.0_base_macro.xacro"/>
    <xacro:workcell parent_link="world" >
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </xacro:workcell >

    <joint name="robot_base_to_base_link" type="fixed">
      <parent link="robot_base"/>
      <child link="base_link"/>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </joint>

    <joint name="robot_base_to_arm" type="fixed">
      <parent link="base_link"/>
      <child link="arm_base_link"/>
      <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
    </joint>

</robot>
